@media (max-width: 992px) {
    .consultation {
        padding: 100px 5px 92px 5px;
        &__header {
            font-size: 35px;
            
        }
    }
    // .carousel {
    //     .prev, .next {
            // display: none;
    //     }
    // }
}

@media (max-width: 768px) {
    .container{
        padding: 0 5px;
    }
    .promo {
        .header {
            line-height: 1;
            &__logo {
                width: 180px;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 16px;
                }
            }
            &__phone {
                font-size: 16px;
            }
        }
        &__subheader {
            line-height: 1;
        }
    }
    .adventages {
        &__icons {
            display: block;
            width: 100%;
        }
        &__icon{
            width: 100%;
        }
    }
    .consultation {
        &__header {
            font-size: 25px;
            text-align: center;
        }
        &__descr {
            margin-top: 60px;
            text-align: center;
        }
        .feed-form {
            align-items: center;
        }
    }
    .catalog {
        &__tabs {
            display: block;
        }
        &__tab {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
            width: 90%;
        }
    }
    .carousel {
        &__inner {
            img {
                display: block;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .footer {
        &__info {
            position: relative;
            width: 100%;
            height: 190px;
            padding: 30px 0px 30px 0px;
        }
        &__addr {
            margin-bottom: 20px;
            font-size: 18px;
        }
        &__phone {
            margin-bottom: 25px;
            font-size: 18px;
        }
    }
}

@media (max-width: 576px) {
    .promo {
        .header {
            display: block;
            margin: 0 auto;
            &__official {
                display: none;
            }
            &__contacts {
                margin-top: 20px;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
        &__wrapper {
            align-items: center;
            margin-top: 50px;
        }
        &__header {
            font-size: 29px;
            text-align: center;
        }
        &__subheader {
            font-size: 17px;
            text-align: center;
        }
        &__icons {
            margin-top: 30px;
            width: 100%;
        }
    }
    .advantages {
        &__icon {
                width: 100%;
        }
    }
    .consultation {
        padding: 80px 0 40px 0;
        min-height: 550px;
        &__header {
            font-size: 13px;
        }
        &__descr {
            margin-top: 40px;
            font-size: 12px;
        }
        .feed-form {
            align-items: center;
        }
    }
    .catalog {
        padding-top: 50px;
    }
    .carousel {
        display: none;
    }
    .feed {
        &__item {
            display: block;
        }
        &__img {
            display: block;
            margin: 0 auto;
        }
        &__text {
            margin-top: 30px;
        }
        &__subtitle {
            text-align: center;
        }
        &__count {
            text-align: center;
        }
    }
    .modal {
        width: 320px;
        padding: 30px 10px 10px 10px;
        &__close {
            top: -40px;
            right: 0;
        }
    }
}